/* Extra small devices (phones, 600px and down) */

    :root {

        /** COLOUR **/

        --primary-colour: rgb(45, 150, 185);
        --primary-colour-light: rgb(125, 204, 230);
        --primary-colour-dark: rgb(13, 83, 107);

        --secondary-colour: ;
        --secondary-colour-light: ;
        --secondary-colour-dark: ;

        --grey-colour: rgb(165, 165, 165);
        --grey-colour-light: rgb(233, 233, 233);
        --grey-colour-dark: rgb(97, 97, 97);

        --white-colour: ;
        --black-colour: ;
        --transparent: transparent;

        --text-colour: ;
        --text-colour-light: rgb(255, 255, 255);
        --dark-colour-dark: rgb(0, 0, 0);
        --text-colour-subtle: ;

        --curriculr-background-colour: rgb(240, 240, 240);

        /** FONT-SIZE **/

        /** BORDER RADIUS **/

        --small-border-radius: 2px;
        --medium-border-radius: 3px;
        --large-border-radius: 5px;

        --pill-border-radius: 25px; 
        --full-border-radius: 100%;

        /** FONT WEIGHT **/

        --exta-light-weight: 100;
        --light-weight: 300;
        --normal-weight: 400;
        --bold-weight: 600;
        --extra-bold-weight: 900;

    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
} 