/* Extra small devices (phones, 600px and down) */

.topic_editor_container {
    white-space: normal;
    border-radius: var(--medium-border-radius);
    overflow: hidden;
    background-color: white;
    border: 1px solid var(--grey-colour);
}

.note-editor.note-frame {
    border: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}