/* Extra small devices (phones, 600px and down) */

/** HEADER **/

.header_wrapper {
    width: 100%;
    min-width: 320px;
    background-color: var(--primary-colour);
    padding: 5px 0;
    position: fixed;
    z-index: 99999;
}

.header_container {
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: inline-block;
    height: 26px;
    width: 26px;
    margin: 0 0.50rem 0 0;
}

.header_logo img {
    height: 26px;
    width: 26px;
}

/** SEARCH BAR **/

.search_bar_wrapper {
    margin: 0 auto 0 0;
    width: 100%;
    max-width: 300px;
    min-width: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--small-border-radius);
}

.search_bar_wrapper form {
    position: relative; 
    border-radius: var(--small-border-radius);
    overflow: hidden;
}

.search_field_wrapper {
    width: 100%;
}

.search_field_wrapper input {
    width: inherit;
    padding: 5px 35px 5px 5px; 
    border: 0;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.3);
    transition-duration: 0.5s;
    color: var(--text-colour-dark);
    font-size: 13px;
}

.search_field_wrapper input::placeholder {
    color: var(--text-colour-dark);
}

.search_field_wrapper input:focus {
    background-color: var(--white-background-colour);
}

.search_button_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.search_button_wrapper button {
    height: inherit;
    background-color: transparent;
    padding: 5px 10px;
    border: 0;
    outline: 0;
    transition-duration: 0.1s;
    color: var(--text-colour-dark);
}

.search_button_wrapper button:hover {
    background-color: var(--neutral-colour);
}

.search_button_wrapper button:active {
    background-color: transparent;
    color: var(--text-colour-dark);
}

/** NAVIGATION **/

.nav_wrapper {
    white-space: nowrap;
    user-select: none;
}

.nav_button {
    font-size: 20px;
    margin: 0 0 0 1.5rem;
    color: var(--primary-colour-extra-dark);
}

.nav_button:hover {
    color: var(--primary-colour-light);
}

.nav_button:active {
    color: var(--text-colour-light);
}

.nav_reminder_button_wrapper {
    position: relative;
    display: inline-block;
}

.reminder_dropdown_wrapper {
    display: none;
    position: absolute;
    top: 140%;
    right: 0%;
    overflow: auto;
    z-index: 8888;
    border: 1px solid var(--primary-colour);
    background-color: var(--white-background-colour);
    border-radius: var(--small-border-radius);
    font-size: 12px;
    font-weight: 600;
    padding: 10px 10px;
    width: 200px;
    overflow-y: scroll;
    max-height: 380px;
}

.reminder_dropdown_wrapper p {
    font-size: 13px;
    color: var(--text-colour-dark);
    margin: 0 0 0.75rem 0;
    padding: 0 0 5px 0;
}

.reminder_dropdown_date_container {
    /* padding: 0 0 0.25rem 0; */
    margin: 0 0 1rem 0;
    border-bottom: 1px solid var(--neutral-colour-dark);
}

.reminder_dropdown_date_container:last-child {
    /* padding: 0 0 0.25rem 0; */
    margin: 0 0 1rem 0;
    border-bottom: none;
    
}

.reminder_dropdown_date_container p {
    font-size: 10px;
    text-transform: uppercase;
    color: var(--text-colour-neutral);
    font-weight: var(--bold-weight);
    margin: 0 0 0.75rem 0;
    padding: 0;
    border-bottom: none;
}

.reminder_dropdown_record_container {
    
}

.reminder_dropdown_record_container a:first-child {
    font-size: 12px;
    color: var(--primary-colour);
    font-weight: var(--bold-weight);
    margin: 0 0 1px 0;
    display: inline-block;
    max-width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.reminder_dropdown_record_container a:last-child {
    font-size: 12px;
    color: var(--text-colour-neutral);
    font-weight: var(--normal-weight);
    margin: 0 0 1rem 0;
    display: inline-block;
    max-width: 190px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.reminder_dropdown_record_container a:hover {
    text-decoration: underline;
}

.reminder_dropdown_record_container a:active {
    text-decoration: none;
}

.nav_option_button_wrapper {
    position: relative;
    display: inline-block;
}

.nav_options {
    display: none;
    position: absolute;
    top: 140%;
    right: 10%;
    overflow: auto;
    z-index: 9999;
    border: 1px solid var(--primary-colour);
    background-color: white;
    border-radius: var(--small-border-radius);
    font-size: 12px;
    font-weight: 600;
}

.nav_option {
    font-size: 12px;
    margin: 0;
    padding: 7px 12px;
    border-bottom: 1px solid var(--primary-colour);
    cursor: pointer;
    white-space: nowrap;
    min-width: 100px;
    color: var(--primary-colour);
    display: block;
    
}

.nav_option:last-child {
    border-bottom: 0;
}

.nav_option:hover {
   background-color: var(--primary-colour-light);
   color: var(--text-colour-light);
   text-decoration: underline;
}

.nav_option:active {
    background-color: var(--primary-colour);
    text-decoration: none;
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

      /** SEARCH BAR **/
    
    .search_field_wrapper input {
        padding: 5px 60px 5px 5px; 
    }
    
    .search_button_wrapper button {
        padding: 5px 20px;

    }

    /** NAVIGATION **/

    .reminder_dropdown_wrapper {
        width: 320px;
    }

    .reminder_dropdown_record_container a:first-child {
        max-width: 310px;

    }
    
    .reminder_dropdown_record_container a:last-child {
        max-width: 310px;

    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}