/* Extra small devices (phones, 600px and down) */

/** BOTH SIDEBOXES **/

.sidebox_container {
    background-color: var(--white-background-colour);
    box-shadow: var(--box-border-shadow);
    border-radius: var(--medium-border-radius);
    padding: 10px 10px;
    width: 100%;
   
}

.sidebox_header {
    font-size: 14px;
    color: var(--text-colour-dark);
    font-weight: var(--bold-weight);
    margin: 0 0 0.50rem 0;
}

/** REMINDER SIDEBOX **/

.sidebox_section_container {
    border-bottom: 1px solid var(--neutral-colour-middle);
    margin: 0 0 0.50rem 0;
    padding: 0.50rem 0 0 0;
    
}

.sidebox_section_header {
    font-size: 11px;
    color: var(--text-colour-neutral);
    text-transform: uppercase;
    font-weight: var(--bold-weight);
    margin: 0 0 0.50rem 0;
}

.side_box_record_container {
    width: 100%;
}

.sidebox_record_title {
    font-size: 13px;
    color: var(--primary-colour);
    font-weight: var(--bold-weight);
    display: inline-block;
    margin: 0 0 0px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.sidebox_record_link {
    font-size: 12px;
    color: var(--text-colour-neutral);
    display: inline-block;
    margin: 0 0 0.50rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.sidebox_record_title:hover, 
.sidebox_record_link:hover,
.sidebox_footer a:hover {
    text-decoration: underline;
}

.sidebox_record_title:active, 
.sidebox_record_link:active,
.sidebox_footer a:active {
    text-decoration: none;
}

.sidebox_footer {
    text-align: right;
    padding: 5px 0;
}

.sidebox_footer a {
    font-size: 13px;
    color: var(--text-colour-neutral);
}

/** MEMBERS SIDEBOX **/

.members_sidebox_image {
    width: 32px;
    height: 32px;
    background-color: var(--primary-colour);
    border-radius: 100%;
    margin: 2px 10px 0 0;
    float: left;
}

.members_sidebox_image img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.sidebox_view_all_pupils a {
    text-align: left;
    font-size: 13px;
    color: var(--text-colour-neutral);
}

.sidebox_view_all_pupils a:hover {
    text-decoration: underline;
}

.sidebox_view_all_pupils a:active {
    text-decoration: none;
}

/** TOPIC SIDEBOX **/

.topic_box_list {
    list-style-position: inside;
    list-style-type: none;
    padding: 0.50rem 0 0px 0;
    margin: 0 0 8px 0;
}

.topic_box_list li {
    margin: 0 0 0.75rem 0;
}

.topic_title {
    color: var(--primary-colour);
    font-weight: var(--bold-weight);
    font-size: 13px;
}

.content_sub_topic {
    color: var(--text-colour-neutral);
    font-weight: var(--normal-weight);
    font-size: 12px;
}

.topic_box_sub_subtopic_list {
    padding: 0 0 0 0.75rem;
    list-style-type: none;
}

.content_sub_topic:hover {
    text-decoration: underline;
    color: var(--primary-colour);
}

.content_sub_topic:active {
    text-decoration: none;
}

.topic_box_subtopic_list {
    padding: 0 0 0 1rem;
    list-style-type: none;
}

/** Active contents link **/

.content_active_link {
    color: var(--primary-colour);
    font-weight: var(--bold-weight);
}

.content_active_link:hover {
    text-decoration: none;
}

.content_active_link:active {
    text-decoration: none;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}