/* Extra small devices (phones, 600px and down) */

.topic_header_container {
    margin: 1rem 0 0 0;
}

.topic_header_action_buttons_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
}

.topic_editor_buttons {
    margin: 0 1rem 0 0;
}

.topic_edit_cancel {
    color: var(--text-colour-dark);
    margin: 0 auto 0 0;
}

.topic_edit_cancel:hover {
    background-color: var(--grey-colour-light);
}

.topic_edit_cancel:active {
    background-color: var(--grey-colour-dark);
}

.topic_edit_delete {
    color: var(--secondary-colour);
}

.topic_edit_delete:hover {
    background-color: var(--secondary-colour-light);
}

.topic_edit_delete:active {
    background-color: var(--secondary-colour-dark);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}