/* Extra small devices (phones, 600px and down) */

.topic_header_container {
    margin: 1rem 0 0 0;
}

.topic_header_action_buttons_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
}

.topic_editor_buttons {
    margin: 0 1rem 0 0;
}

.topic_edit_cancel {
    color: var(--text-colour-dark);
    margin: 0 auto 0 1rem;
}

.topic_edit_cancel:hover {
    background-color: var(--neutral-colour);
}

.topic_edit_cancel:active {
    background-color: var(--neutral-colour-dark);
}

.topic_edit_delete {
    color: var(--secondary-colour);
}

.topic_edit_delete:hover {
    background-color: var(--secondary-colour-light);
}

.topic_edit_delete:active {
    background-color: var(--secondary-colour-dark);
}

.position_picker_wrapper {
    padding: 7px 12px;
    border-bottom: 1px solid var(--primary-colour);
}

.position_picker_wrapper:hover {
    background-color: white;
    text-decoration: none;
}

.position_picker_wrapper:active {
    background-color: white;
    text-decoration: none;
}

.position_picker_wrapper span {
    color: var(--primary-colour);
}

.position_picker_wrapper input {
    width: 50px;
    border: 1px solid var(--neutral-colour-middle);
    border-radius: var(--small-border-radius);
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
}

.topic_editor_button .drop_down_options_wrapper .drop_down_option {
    display: block;
    padding: 7px 12px;
    border-bottom: 1px solid var(--primary-colour);
    color: var(--primary-colour);
    user-select: none;
}

.topic_editor_button .drop_down_options_wrapper .drop_down_option:last-child {
    border-bottom: 0; 
}

.drop_down_outline_button_wrapper .drop_down_options_wrapper .drop_down_option:hover {
    background-color: var(--primary-colour-light);
    text-decoration: none;
}

.drop_down_outline_button_wrapper .drop_down_options_wrapper .drop_down_option:active {
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    text-decoration: none;
}

.topic_editor_button .drop_down_options_wrapper .topic_edit_delete {
    color: var(--tertiary-colour);
}

.drop_down_outline_button_wrapper .drop_down_options_wrapper .topic_edit_delete:hover {
    background-color: var(--tertiary-colour-light);
    color: var(--text-colour-light);
    text-decoration: none;
}

.drop_down_outline_button_wrapper .drop_down_options_wrapper .topic_edit_delete:active {
    background-color: var(--tertiary-colour);
    color: var(--text-colour-light);
    text-decoration: none;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}