/* Extra small devices (phones, 600px and down) */

.topic_header_container {
    margin: 1rem 0 0 0;
}

.topic_header_action_buttons_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
}

.topic_editor_buttons {
    margin: 0 1rem 0 0;
}

.topic_edit_cancel {
    color: var(--text-colour-dark);
    margin: 0 auto 0 1rem;
}

.topic_edit_cancel:hover {
    background-color: var(--neutral-colour);
}

.topic_edit_cancel:active {
    background-color: var(--neutral-colour-dark);
}

.topic_edit_delete {
    color: var(--secondary-colour);
}

.topic_edit_delete:hover {
    background-color: var(--secondary-colour-light);
}

.topic_edit_delete:active {
    background-color: var(--secondary-colour-dark);
}

.position_picker_wrapper {
    padding: 7px 12px;
    border-bottom: 1px solid var(--primary-colour);
}

.position_picker_wrapper:hover {
    background-color: white;
    text-decoration: none;
}

.position_picker_wrapper:active {
    background-color: white;
    text-decoration: none;
}

.position_picker_wrapper span {
    color: var(--primary-colour);
}

.position_picker_wrapper input {
    width: 50px;
    border: 1px solid var(--neutral-colour-middle);
    border-radius: var(--small-border-radius);
    margin: 0 0 0 5px;
    padding: 0 0 0 5px;
}

.topic_editor_button .drop_down_options_wrapper .drop_down_option {
    display: block;
    padding: 7px 12px;
    border-bottom: 1px solid var(--primary-colour);
    color: var(--primary-colour);
    user-select: none;
}

.topic_editor_button .drop_down_options_wrapper .drop_down_option:last-child {
    border-bottom: 0; 
}

.drop_down_outline_button_wrapper .drop_down_options_wrapper .drop_down_option:hover {
    background-color: var(--primary-colour-light);
    text-decoration: none;
}

.drop_down_outline_button_wrapper .drop_down_options_wrapper .drop_down_option:active {
    background-color: var(--primary-colour);
    color: var(--text-colour-light);
    text-decoration: none;
}

.topic_editor_button .drop_down_options_wrapper .topic_edit_delete {
    color: var(--tertiary-colour);
}

.drop_down_outline_button_wrapper .drop_down_options_wrapper .topic_edit_delete:hover {
    background-color: var(--tertiary-colour-light);
    color: var(--text-colour-light);
    text-decoration: none;
}

.drop_down_outline_button_wrapper .drop_down_options_wrapper .topic_edit_delete:active {
    background-color: var(--tertiary-colour);
    color: var(--text-colour-light);
    text-decoration: none;
}

.delete_modal_actions {
    justify-content: center;
}

.delete_modal_actions button {
    background-color: var(--tertiary-colour);
}

.delete_modal_actions button:hover {
    background-color: var(--tertiary-colour-light);
}

.delete_modal_actions button:active {
    background-color: var(--tertiary-colour);
}

.copy_modal_actions button {
    background-color: var(--primary-colour);
}

.copy_modal_actions button:hover {
    background-color: var(--primary-colour-light);
}

.modal_actions button:active {
    background-color: var(--primary-colour-dark);
}

.create_topic_modal .form_action_group textarea,
.create_reminder_modal .form_action_group textarea,
.create_section_modal .form_action_group textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    border: 1px solid var(--neutral-colour);
}

.create_topic_modal .login_form,
.create_reminder_modal .login_form,
.create_section_modal .login_form {
    width: 70%;
}

.create_reminder_modal .form_action_group input[type="date"] {
    width: 50%;
}

/** SNACKBARS **/

.snackbar_style_wrapper {
    position: absolute;
    z-index: 9997;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    display: none;
}

.snackbar_container {
    width: 300px;
    padding: 20px 0;
    text-align: center;
    font-weight: var(--bold-weight);
    position: relative;
}

.close_snackbar {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
    color: var(--text-colour-light); 
}

.negative_snackbar {
    background-color: var(--tertiary-colour-middle);
    color: var(--text-colour-light);
}

.positive_snackbar {
    background-color: var(--primary-colour-middle);
    color: var(--text-colour-light); 
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}